.add-button {
    width: 80%;
    margin-left: 10%;
}

.container {
    text-align: center;
}

.modal-buttons {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
}

ion-input {
    margin-top: 10px;
}