.stock-item{
    margin-bottom: 1px;
    border-radius: 5px;
    text-align: center;
}

ion-label {
    width: 20%;
}

.add-button {
    width: 80%;
    margin-left: 10%;
}

.container {
    text-align: center;
}

.modal-buttons {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
}

.modal-input {
    margin-top: 10px;
}
