<div *ngIf="stocksNotEmpty" class="container">
  <ion-item color="dark" class="stock-item">
    <ion-label> 
      {{ticker}}
    </ion-label>

    <ion-label>
      {{shareCount}}
    </ion-label>

    <ion-label>
      <div *ngIf="monthlyReturnExists">
        ${{mnthReturn}}
      </div>
     </ion-label>

    <ion-label>
      <div *ngIf="quarterlyReturnExists">
        ${{qtrReturn}}
      </div>
    </ion-label>

    <ion-label>
      ${{yrReturn}}
    </ion-label>
  </ion-item>
  <!-- {{ticker}} {{shareCount}} {{qtrReturn}} {{yrReturn}} -->
</div>
