<div>
    <ion-toolbar>
      <ion-title size="large" class="title">
        Dividend Tracker
      </ion-title>
    </ion-toolbar>
  
    <header class="top"></header>
      
    <div id="container">
      <div *ngIf="stockInfo" class="stockList">
        <div *ngFor="let stock of stocks; index as i">
          <stock-item [stockInfo] = "stock"></stock-item>
        </div>
      </div>

      <add-stock-button (newStockItem)="addStockItem($event)"></add-stock-button>
      <total-amount [stocks]="stocks"></total-amount>
    </div>
</div>

