:host{
  --ion-background-color: rgb(255, 255, 255);
  --ion-color: rgb(0, 0, 0);
}

ion-title.title-large {
  font-size: 30px;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 5px;
  width: 100%;
  display: block;
}

.title {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.top {
  top: 0%;
  margin-bottom: .5px;
}

#container {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  display: inline;
  transform: translateY(-50%);
  width: 100%;
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.stockList {
    max-height: 500px;
    overflow-y: scroll;
    background-color: #00ff65;
}

.body-content {
  height: 80%;
}